---
import { whatsappLink } from "../consts";
import nodemailer from "nodemailer";

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const name = data.get("name");
    const email = data.get("email");
    const message = data.get("message");

    const transporter = nodemailer.createTransport({
      host: "smtp.gmail.com",
      port: 465,
      secure: true,
      auth: {
        user: process.env.SMTP_USER,
        pass: process.env.SMTP_PASS,
      },
    });

    const mailOptions = {
      from: '"CAT Person" <no-reply@anant.com>',
      to: "anant.mishra.student@gmail.com",
      subject: "Interested in becoming a CAT",
      text: `Name: ${name}\nEmail: ${email}\nMessage: ${message}`,
    };

    await transporter.sendMail(mailOptions);
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<section id="contact" class="contact-form">
  <div class="container">
    <div class="top">
      <h2>Contact Us</h2>
      <p>First Consultation is <strong>Free!</strong></p>
      <a
        href={whatsappLink}
        title="Chat with us on WhatsApp"
        style="color: #05E775">Chat with us on WhatsApp</a
      >
    </div>
    <form method="POST">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" required />
      <label for="email">Email</label>
      <input type="email" id="email" name="email" required />
      <label for="message">Message</label>
      <textarea id="message" name="message" required></textarea>
      <button type="submit">Submit</button>
    </form>
  </div>
</section>

<style>
  .top > * {
    text-align: center;
    color: white;
  }
  .contact-form {
    padding: 2rem 0 2rem 0;
    position: relative;
    z-index: 1;
    color: white;
  }

  .contact-form::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("contact.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(50%) blur(3px);
    -webkit-filter: brightness(50%) blur(3px);
    z-index: -1;
  }
  .container {
    margin: auto;
    width: 70%;
  }
  .contact-form form {
    display: flex;
    flex-direction: column;
  }
  .contact-form label {
    margin-top: 1rem;
  }
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    font-family: inherit;
  }

  .contact-form input:focus,
  .contact-form textarea:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 7px rgba(0, 123, 255, 0.5);
  }
  .contact-form button {
    margin-top: 1rem;
    padding: 1rem;
    background: #0070f3;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
</style>
